<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOufzJZdAl0ncaiP8VsbiwpdpSX2DMIRA</string>
	<key>GCM_SENDER_ID</key>
	<string>13469845736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LevelUp.problem-solving</string>
	<key>PROJECT_ID</key>
	<string>levelup-65b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>levelup-65b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13469845736:ios:9d08e8fc7179a83f30215d</string>
</dict>
</plist>